.card {
  background-color: #fff0f5;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card h3 {
  color: #1b191a;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.precio {
  color: #712364; /* rosa intenso para resaltar */
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.verInfoBtn {
  background-color: #db60e1;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.verInfoBtn:hover {
  background-color: #ac269c;
  transform: scale(1.05);
}

.descripcion {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #636162;
  text-align: center;
}

